

file:
  upload:
    url: "E:/test"


spring:
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 1000
    jedis:
      pool:
        max-active: 2000
        max-wait: 100
        max-idle: 500
        min-idle: 50